# Dependencies
node_modules/

# Docusaurus
.docusaurus/
build/

# Legacy Jekyll
vendor/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*.gem
.bundle/

# Maven / Java
/.project
/.classpath
/.settings
target/
/build.xml
/build
/bin
/dist
/.idea/
/PermissionsEx.iml
.DS_Store
